/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

h1, h2 {
    font-family: 'Fredoka One', cursive;
}

h1 {
    margin: 50px;
}

.banner-content p {
    font-size: 20px;
}

a {
    color: #ff904d;
}

a:hover {
    color: #d2753d;
}

form {
    max-width: 700px;
    margin: auto;
}

form .row {
    padding: 2px;
}

/* NAV BAR */
.navbar-brand {
    font-family: 'Fredoka One', cursive;
}

.navbar-brand .text-24 {
    font-size:
}

/* FOOTER */
.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.5);
  position: absolute;
  bottom: 0;
  width: 100%;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}

/* CARDS */
.card-img, .card-img-top {
    height: 200px;
    object-fit: cover;
    object-position: center;
}


/* LOGIN */
@media (min-width: 1200px) {
    .logincontainer{
        max-width: 700px;
        padding:0;
    }
}
